<ejs-grid #routesGrid  [dataSource]='data'  [editSettings]='editSettings'  [allowSorting]="true"  [toolbar]='toolbar' [allowPaging]='true' [pageSettings]='pageSettings'  (created)='gridInitialize()' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>

    <e-columns>
        <e-column field='Id' headerText='ID'  width='50' [isPrimaryKey]='true'></e-column>
        <e-column field='Group' headerText='Group' width='120' ></e-column>
        <e-column field='Route' headerText='Route Name'  width='120'></e-column>
        <e-column field='BusinessLogicMethod' headerText='BL Method'  width='120'></e-column>
        <e-column field='ProcedureName' headerText='Procedure'  width='120'></e-column>
        <e-column field='ResponseType' headerText='ResponseType'  width='60'></e-column>
        <e-column field='EditType' headerText='EditType'  width='60'></e-column>
        <e-column field='Is_Custom_BusinessLogic' headerText='Is Custom BL'  width='60'></e-column>
        <e-column field='RequireAuth' headerText='RequireAuth'  width='60'></e-column>
        <e-column field='IsSocket' headerText='IsSocket'  width='60'></e-column>
    </e-columns>
   
    <ng-template #editSettingsTemplate let-data>
        <div ngForm #routesForm="ngForm">
            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Group.invalid && (Group.dirty || Group.touched)}">                       
                        <input [(ngModel)]="routesData.Group" id="Group" name="Group" type="text" #Group="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Group">Group</label>                   
                    </div>                    
                    <div id="GroupError" *ngIf='Group.invalid && (Group.dirty || Group.touched)'>                        
                        <label class="e-error" id="Group-info" style="display: block;">*Group is required</label>                    
                    </div>               
                </div>
                        
            </div>    

            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Route.invalid && (Route.dirty || Route.touched)}">                       
                        <input [(ngModel)]="routesData.Route" id="Route" name="Route" type="text" #Route="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Route">Route</label>                   
                    </div>                    
                    <div id="RouteError" *ngIf='Route.invalid && (Route.dirty || Route.touched)'>                        
                        <label class="e-error" id="Route-info" style="display: block;">*Route is required</label>                    
                    </div>               
                </div>
                        
            </div> 

            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': BusinessLogicMethod.invalid && (BusinessLogicMethod.dirty || BusinessLogicMethod.touched)}">                       
                        <input [(ngModel)]="routesData.BusinessLogicMethod" id="BusinessLogicMethod" name="BusinessLogicMethod" type="text" #BusinessLogicMethod="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="BusinessLogicMethod">Business Logic Method</label>                   
                    </div>                    
                    <div id="BusinessLogicMethodError" *ngIf='BusinessLogicMethod.invalid && (BusinessLogicMethod.dirty || BusinessLogicMethod.touched)'>                        
                        <label class="e-error" id="BusinessLogicMethod-info" style="display: block;">*BusinessLogicMethod is required</label>                    
                    </div>               
                </div>
                        
            </div> 
            

            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': ResponseType.invalid && (ResponseType.dirty || ResponseType.touched)}">                       
                        <input [(ngModel)]="routesData.ResponseType" id="ResponseType" name="ResponseType" type="text" #ResponseType="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="ResponseType">ResponseType</label>                   
                    </div>                    
                    <div id="ResponseTypeError" *ngIf='ResponseType.invalid && (ResponseType.dirty || ResponseType.touched)'>                        
                        <label class="e-error" id="ResponseType-info" style="display: block;">*ResponseType is required</label>                    
                    </div>               
                </div>
                        
            </div> 
            

            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': EditType.invalid && (EditType.dirty || EditType.touched)}">                       
                        <input [(ngModel)]="routesData.EditType" id="EditType" name="EditType" type="text" #EditType="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="EditType">EditType</label>                   
                    </div>                    
                    <div id="EditTypeError" *ngIf='EditType.invalid && (EditType.dirty || EditType.touched)'>                        
                        <label class="e-error" id="EditType-info" style="display: block;">*EditType is required</label>                    
                    </div>               
                </div>
                        
            </div> 
                   
            <div class="form-row">                
                <div class="form-group col-md-6">                    
                    <div class="e-float-input e-control-wrapper">                        
                        <ejs-checkbox label="Is_Custom_BusinessLogic" name="Is_Custom_BusinessLogic" cssClass="e-success" [(ngModel)]="routesData.Is_Custom_BusinessLogic"></ejs-checkbox>
                        <span class="e-float-line"></span>                                        
                    </div>              
                </div>      
                <div class="form-group col-md-6">                    
                    <div class="e-float-input e-control-wrapper">                        
                        <ejs-checkbox label="RequireAuth" name="RequireAuth" cssClass="e-success" [(ngModel)]="routesData.RequireAuth"></ejs-checkbox>
                        <span class="e-float-line"></span>                                        
                    </div>              
                </div>    
                <div class="form-group col-md-6">                    
                    <div class="e-float-input e-control-wrapper">                        
                        <ejs-checkbox label="IsSocket" name="IsSocket" cssClass="e-success" [(ngModel)]="routesData.IsSocket"></ejs-checkbox>
                        <span class="e-float-line"></span>                                        
                    </div>              
                </div>     
            </div> 

            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': ProcedureId.invalid && (ProcedureId.dirty || ProcedureId.touched)}">     
                        <ejs-dropdownlist #ProcedureId="ngModel"  [fields]='fields' [(ngModel)]="routesData.ProcedureId" name="ProcedureId" [dataSource]='proceduresList' placeholder='Procedure'  popupHeight='300px'  floatLabelType='Always'>
                        </ejs-dropdownlist> 
                    </div>                    
                    <div id="ProcedureIdError" *ngIf='ProcedureId.invalid && (ProcedureId.dirty || ProcedureId.touched)'>                        
                        <label class="e-error" id="ProcedureId-info" style="display: block;">*Procedure is required</label>                    
                    </div>               
                </div>
                        
            </div>    

        </div>
            
    </ng-template> 

</ejs-grid>