
<ejs-grid #proceduresGrid  [dataSource]='data'  [editSettings]='editSettings'  [allowSorting]="true"  [toolbar]='toolbar' [allowPaging]='true' [pageSettings]='pageSettings'  (created)='gridInitialize()' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>

    <e-columns>
        <e-column field='Id' headerText='ID'  width='50' [isPrimaryKey]='true'></e-column>
        <e-column field='DatabaseName' headerText='Database Name' width='120' ></e-column>
        <e-column field='Name' headerText='Procedure Name'  width='120'></e-column>
        <e-column  headerText='Edit Parameters'  width='120' >
            <ng-template #template let-data> <button ejs-button cssClass="e-primary" (click)="onOpenDialog($event, data )">Edit Parameters</button></ng-template> 
        </e-column>
    </e-columns>

    
    <ng-template #editSettingsTemplate let-data>
        <div ngForm #proceduresForm="ngForm">
            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Name.invalid && (Name.dirty || Name.touched)}">                       
                        <input [(ngModel)]="procedureData.Name" id="Name" name="Name" type="text" #Name="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Name">Procedure Name</label>                   
                    </div>                    
                    <div id="NameError" *ngIf='Name.invalid && (Name.dirty || Name.touched)'>                        
                        <label class="e-error" id="Name-info" style="display: block;">*Name is required</label>                    
                    </div>               
                </div>
                        
            </div>    

            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': DatabaseId.invalid && (DatabaseId.dirty || DatabaseId.touched)}">     
                        <ejs-dropdownlist #DatabaseId="ngModel"  [fields]='fields' [(ngModel)]="procedureData.DatabaseId" name="DatabaseId" [dataSource]='databasesList' placeholder='Database'  popupHeight='300px'  floatLabelType='Always'>
                        </ejs-dropdownlist> 
                    </div>                    
                    <div id="DatabaseIdError" *ngIf='DatabaseId.invalid && (DatabaseId.dirty || DatabaseId.touched)'>                        
                        <label class="e-error" id="DatabaseId-info" style="display: block;">*Database is required</label>                    
                    </div>               
                </div>
                        
            </div>    

        </div>
            
    </ng-template>

</ejs-grid>

<div #container class='root-container'></div>
<ejs-dialog id='dialog' #ejDialog [visible] = 'false' [header]="procedureData  == null ? ' ' : procedureData.Name" showCloseIcon='true'  [target]='targetElement' width='1000px' [position]='paramDialogPos'>

    
    <ejs-grid #procedureParamGrid  [dataSource]='procedureParams'  [editSettings]='paramEditSettings'  [allowSorting]="true"  [toolbar]='toolbar'  (created)='paramGridInitialize()' (actionBegin)='paramActionBegin($event)' width='1000px' >

        <e-columns>
            <e-column field='Id' headerText='ID'  width='100' [isPrimaryKey]='true'></e-column>
            <e-column field='Name' headerText='Name' width='150' ></e-column>
            <e-column field='MapProperty' headerText='MapProperty'  width='150'></e-column>
            <e-column field='Type' headerText='Type'  width='100'></e-column>
            <e-column field='Size' headerText='Size'  width='100'></e-column>
            <e-column field='Is_Out' headerText='Is Out'  width='100'></e-column>
            <e-column field='Is_Nullable' headerText='Is Nullable'  width='100'></e-column>
        </e-columns>

        <ng-template #editSettingsTemplate let-data>
            <div ngForm #procedureParamForm="ngForm">
                  
                <div class="form-row">
                           
                    <div class="form-group col-md-12">                   
                        <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Name.invalid && (Name.dirty || Name.touched)}">                       
                            <input [(ngModel)]="procedureParamData.Name" id="Name" name="Name" type="text" #Name="ngModel">                        
                            <span class="e-float-line"></span>                        
                            <label class="e-float-text e-label-top" for="Name">Name</label>                   
                        </div>                    
                        <div id="NameError" *ngIf='Name.invalid && (Name.dirty || Name.touched)'>                        
                            <label class="e-error" id="Name-info" style="display: block;">*Name is required</label>                    
                        </div>               
                    </div>
                            
                </div> 

                <div class="form-row">
                           
                    <div class="form-group col-md-12">                   
                        <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': MapProperty.invalid && (MapProperty.dirty || MapProperty.touched)}">                       
                            <input [(ngModel)]="procedureParamData.MapProperty" id="MapProperty" name="MapProperty" type="text" #MapProperty="ngModel">                        
                            <span class="e-float-line"></span>                        
                            <label class="e-float-text e-label-top" for="MapProperty">MapProperty</label>                   
                        </div>                    
                        <div id="MapPropertyError" *ngIf='MapProperty.invalid && (MapProperty.dirty || MapProperty.touched)'>                        
                            <label class="e-error" id="MapProperty-info" style="display: block;">*MapProperty is required</label>                    
                        </div>               
                    </div>
                            
                </div> 
                
                
                <div class="form-row">
                           
                    <div class="form-group col-md-12">                   
                        <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Type.invalid && (Type.dirty || Type.touched)}">                       
                            <ejs-dropdownlist [fields]='fields' [(ngModel)]="procedureParamData.Type" name="Type" [dataSource]='dataTypes' #Type="ngModel" placeholder='Type'  popupHeight='300px'  floatLabelType='Always'>
                            </ejs-dropdownlist> 
                        </div>                    
                        <div id="TypeError" *ngIf='Type.invalid && (Type.dirty || Type.touched)'>                        
                            <label class="e-error" id="Type-info" style="display: block;">*Type is required</label>                    
                        </div>               
                    </div>
                            
                </div> 
                
                <div class="form-row">
                           
                    <div class="form-group col-md-12">                   
                        <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Size.invalid && (Size.dirty || Size.touched)}">                       
                            <input [(ngModel)]="procedureParamData.Size" id="Size" name="Size" type="text" #Size="ngModel">                        
                            <span class="e-float-line"></span>                        
                            <label class="e-float-text e-label-top" for="Size">Size</label> 
                        </div>                    
                        <div id="SizeError" *ngIf='Size.invalid && (Size.dirty || Size.touched)'>                        
                            <label class="e-error" id="Size-info" style="display: block;">*Size is required</label>                    
                        </div>               
                    </div>
                            
                </div> 
                
                <div class="form-row">                
                    <div class="form-group col-md-6">                    
                        <div class="e-float-input e-control-wrapper">                        
                            <ejs-checkbox label="Is Out" name="Is_Out" cssClass="e-success" [(ngModel)]="procedureParamData.Is_Out"></ejs-checkbox>
                            <span class="e-float-line"></span>                                        
                        </div>              
                    </div>      
                    <div class="form-group col-md-6">                    
                        <div class="e-float-input e-control-wrapper">                        
                            <ejs-checkbox label="Is Nullable" name="Is_Nullable" cssClass="e-success" [(ngModel)]="procedureParamData.Is_Nullable"></ejs-checkbox>
                            <span class="e-float-line"></span>                                        
                        </div>              
                    </div>      
                </div> 
            </div>
        </ng-template>
    </ejs-grid>

  </ejs-dialog>