<ejs-grid #rolesGrid  [dataSource]='data'  [editSettings]='editSettings'  [allowSorting]="true"  [toolbar]='toolbar' [allowPaging]='true' [pageSettings]='pageSettings'   (created)='gridInitialize()' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
    
    <e-columns>
        <e-column field='Id' headerText='ID'  width='50' [isPrimaryKey]='true'></e-column>
        <e-column field='Role' headerText='Name' width='120' ></e-column>
        <e-column field='IsCustom' headerText='Is Custom' width='120' ></e-column>
        <e-column  headerText='Map Routes'  width='120' >
            <ng-template #template let-data> <button *ngIf="!data.IsCustom" ejs-button cssClass="e-primary" (click)="onOpenDialog($event, data )">Edit Routes</button></ng-template> 
        </e-column>
    </e-columns>

    <ng-template #editSettingsTemplate let-data>
        <div ngForm #roleForm="ngForm">


            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Role.invalid && (Role.dirty || Role.touched)}">                       
                        <input [(ngModel)]="roleData.Role" id="Role" name="Role" type="text" #Role="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Role">App Role</label>                   
                    </div>                    
                    <div id="RoleError" *ngIf='Role.invalid && (Role.dirty || Role.touched)'>                        
                        <label class="e-error" id="Role-info" style="display: block;">*Role is required</label>                    
                    </div>               
                </div>
                        
            </div>    

            <div class="form-row">                
                <div class="form-group col-md-6">                    
                    <div class="e-float-input e-control-wrapper">                        
                        <ejs-checkbox label="Is Custom" name="IsCustom" cssClass="e-success" [(ngModel)]="roleData.IsCustom"></ejs-checkbox>
                        <span class="e-float-line"></span>                                        
                    </div>              
                </div>  
            </div>

        </div> 
    </ng-template>


</ejs-grid>



<div #container class='root-container'></div>
<ejs-dialog id='dialog' #ejDialog [visible] = 'false' showCloseIcon='true'  [target]='targetElement' width='1000px' [position]='paramDialogPos' height='550px'>
    <ng-template #content>
        


        <div class="card-group mb-4" *ngFor='let section of groupView'>
            <div class="card" *ngFor='let group of section.Groups'>
                <div class="card-body">
                    <div class="small text-uppercase font-weight-bold" style="color: #e3165b;">{{group.Group}}</div>
                    <div class="e-float-input e-control-wrapper" *ngFor='let route of group.Routes'>                        
                        <ejs-checkbox [label]="route.Route" [name]="route.Route" cssClass="e-success" [(ngModel)]="route.IsChecked"></ejs-checkbox>
                        <span class="e-float-line"></span>                                        
                    </div> 
                </div>
            </div>
        </div>

    </ng-template>
    <ng-template #footerTemplate>
        <button id="sendButton" class="e-control e-btn e-primary" data-ripple="true" (click)="saveRoleRoutes()">Save</button>
        <button id="sendButton" class="e-control e-btn" data-ripple="true" (click)="ejDialog.hide()">Cancel</button>
    </ng-template>
    <ng-template #header>
        <div title="Nancy" class="e-icon-settings dlg-template"> {{roleData == null ? ' ' : roleData.Role}} </div>
    </ng-template>
  </ejs-dialog>