<ejs-grid #customErrorGrid  [dataSource]='data' [toolbar]='toolbar' [editSettings]='editSettings'   [allowSorting]="true"   [allowPaging]='true' [pageSettings]='pageSettings'  (created)='gridInitialize()' (actionBegin)='actionBegin($event)'>
    <e-columns>
        <e-column field='Id' headerText='ID'  width='50' [isPrimaryKey]='true'></e-column>
        <e-column field='Message' headerText='Message'  width='200'></e-column>
        <e-column field='Code' headerText='Code' width='50' ></e-column>
        <e-column field='Description' headerText='Description' width='200'></e-column>
        <e-column field='IsError' headerText='IsError'  width='50'></e-column>
        <e-column field='ForUser' headerText='ForUser'  width='50'></e-column>
    </e-columns>

    
    <ng-template #editSettingsTemplate let-data>
        <div ngForm #customErrorForm="ngForm">
  

            <div class="form-row">

                        
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Code.invalid && (Code.dirty || Code.touched)}">                       
                        <input [(ngModel)]="customErrorData.Code" id="Code" name="AppCodeKey" type="text" #Code="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Code">Code</label>                   
                    </div>                    
                    <div id="CodeError" *ngIf='Code.invalid && (Code.dirty || Code.touched)'>                        
                        <label class="e-error" id="Code-info" style="display: block;">*Code is required</label>                    
                    </div>               
                </div> 
            </div>

            <div class="form-row">
                        
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Message.invalid && (Message.dirty || Message.touched)}">                       
                        <input [(ngModel)]="customErrorData.Message" id="Message" name="Message" type="text" #Message="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Message">Message</label>                   
                    </div>                    
                    <div id="MessageError" *ngIf='Message.invalid && (Message.dirty || Message.touched)'>                        
                        <label class="e-error" id="Message-info" style="display: block;">*Message is required</label>                    
                    </div>               
                </div> 

            </div>
                    
            <div class="form-row">                
                <div class="form-group col-md-12">                    
                    <div class="e-float-input e-control-wrapper">                        
                        <textarea [(ngModel)]="customErrorData.Description" id="Description" name="Description" type="text"></textarea>                        
                        <span class="e-float-line"></span>                       
                        <label class="e-float-text e-label-top" for="Description">Description</label>                  
                    </div>              
                </div>         
            </div> 
                   
            <div class="form-row">                
                <div class="form-group col-md-6">                    
                    <div class="e-float-input e-control-wrapper">                        
                        <ejs-checkbox label="IsError" name="IsError" cssClass="e-success" [(ngModel)]="customErrorData.IsError"></ejs-checkbox>
                        <span class="e-float-line"></span>                                        
                    </div>              
                </div>      
                <div class="form-group col-md-6">                    
                    <div class="e-float-input e-control-wrapper">                        
                        <ejs-checkbox label="ForUser" name="ForUser" cssClass="e-success" [(ngModel)]="customErrorData.ForUser"></ejs-checkbox>
                        <span class="e-float-line"></span>                                        
                    </div>              
                </div>      
            </div> 
                   
        </div> 
    </ng-template>


</ejs-grid>
