<ejs-grid #settingsGrid  [dataSource]='data'  [editSettings]='editSettings'  [allowSorting]="true"  [toolbar]='toolbar' [allowPaging]='true' [pageSettings]='pageSettings'   (created)='gridInitialize()' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
    
    <e-columns>
        <e-column field='Id' headerText='ID'  width='50' [isPrimaryKey]='true'></e-column>
        <e-column field='Name' headerText='Name' width='120' ></e-column>
        <e-column field='Value' headerText='Description'  width='120'></e-column>
    </e-columns>

    <ng-template #editSettingsTemplate let-data>
        <div ngForm #settingsForm="ngForm">


            <div class="form-row">
                               
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Name.invalid && (Name.dirty || Name.touched)}">                       
                        <input [(ngModel)]="settingData.Name" id="Name" name="Name" type="text" #Name="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Name">App Name</label>                   
                    </div>                    
                    <div id="NameError" *ngIf='Name.invalid && (Name.dirty || Name.touched)'>                        
                        <label class="e-error" id="Name-info" style="display: block;">*Name is required</label>                    
                    </div>               
                </div>
                        
            </div>    

            <div class="form-row">

                        
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Value.invalid && (Value.dirty || Value.touched)}">                       
                        <input [(ngModel)]="settingData.Value" id="Value" name="Value" type="text" #Value="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Value">Value</label>                   
                    </div>                    
                    <div id="ValueError" *ngIf='Value.invalid && (Value.dirty || Value.touched)'>                        
                        <label class="e-error" id="Value-info" style="display: block;">*Value is required</label>                    
                    </div>               
                </div> 
            </div>

        </div> 
    </ng-template>


</ejs-grid>
