<div class="row" *ngIf="userData">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header"><strong>Add/Edit User</strong></div>
            <div class="card-body">
                <div ngForm #manageUserForm="ngForm">
                    
                    <div class="form-row">
                                       
                        <div class="form-group col-md-12">                   
                            <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': UserName.invalid && (UserName.dirty || UserName.touched)}">                       
                                <input [(ngModel)]="userData.UserName" id="UserName" name="UserName" type="text" #UserName="ngModel">                        
                                <span class="e-float-line"></span>                        
                                <label class="e-float-text e-label-top" for="UserName">UserName</label>                   
                            </div>                    
                            <div id="UserNameError" *ngIf='UserName.invalid && (UserName.dirty || UserName.touched)'>                        
                                <label class="e-error" id="UserName-info" style="display: block;">*UserName is required</label>                    
                            </div>               
                        </div>
                                
                    </div>    
        
                    <div class="form-row">
        
                                
                        <div class="form-group col-md-6">                   
                            <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': FirstName.invalid && (FirstName.dirty || FirstName.touched)}">                       
                                <input [(ngModel)]="userData.FirstName" id="FirstName" name="FirstName" type="text" #FirstName="ngModel">                        
                                <span class="e-float-line"></span>                        
                                <label class="e-float-text e-label-top" for="FirstName">FirstName</label>                   
                            </div>                    
                            <div id="FirstName-Error" *ngIf='FirstName.invalid && (FirstName.dirty || FirstName.touched)'>                        
                                <label class="e-error" id="FirstName-info" style="display: block;">*FirstName is required</label>                    
                            </div>               
                        </div> 
                        <div class="form-group col-md-6">                   
                            <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': LastName.invalid && (LastName.dirty || LastName.touched)}">                       
                                <input [(ngModel)]="userData.LastName" id="LastName" name="LastName" type="text" #LastName="ngModel">                        
                                <span class="e-float-line"></span>                        
                                <label class="e-float-text e-label-top" for="LastName">LastName</label>                   
                            </div>                    
                            <div id="LastName-Error" *ngIf='LastName.invalid && (LastName.dirty || LastName.touched)'>                        
                                <label class="e-error" id="LastName-info" style="display: block;">*LastName is required</label>                    
                            </div>               
                        </div> 
                    </div>
        
        
                    <div class="form-row">
        
                                
                        <div class="form-group col-md-6">                   
                            <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Email.invalid && (Email.dirty || Email.touched)}">                       
                                <input [(ngModel)]="userData.Email" id="Email" name="Email" type="text" #Email="ngModel">                        
                                <span class="e-float-line"></span>                        
                                <label class="e-float-text e-label-top" for="Email">Email</label>                   
                            </div>                    
                            <div id="Email-Error" *ngIf='Email.invalid && (Email.dirty || Email.touched)'>                        
                                <label class="e-error" id="Email-info" style="display: block;">*Email is required</label>                    
                            </div>               
                        </div> 
                         
                        <div class="form-group col-md-6">                   
                            <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Mobile.invalid && (Mobile.dirty || Mobile.touched)}">                       
                                <input [(ngModel)]="userData.Mobile" id="Mobile" name="Mobile" type="text" #Mobile="ngModel">                        
                                <span class="e-float-line"></span>                        
                                <label class="e-float-text e-label-top" for="Mobile">Mobile</label>                   
                            </div>                    
                            <div id="Mobile-Error" *ngIf='Mobile.invalid && (Mobile.dirty || Mobile.touched)'>                        
                                <label class="e-error" id="Mobile-info" style="display: block;">*Mobile is required</label>                    
                            </div>               
                        </div> 
                    </div>
                    
                    <div class="form-row" *ngIf="IsNewUser">
                            
                        <div class="form-group col-md-12">                   
                            <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Password.invalid && (Password.dirty || Password.touched)}">                       
                                <input [(ngModel)]="userData.Password" id="Password" name="Password" type="text" #Password="ngModel">                        
                                <span class="e-float-line"></span>                        
                                <label class="e-float-text e-label-top" for="Password">Password</label>                   
                            </div>                    
                            <div id="Password-Error" *ngIf='Password.invalid && (Password.dirty || Password.touched)'>                        
                                <label class="e-error" id="Password-info" style="display: block;">*Password is required</label>                    
                            </div>               
                        </div> 
                                
                    </div>
                </div> 
            </div>
            <div class="card-footer">
                <button id="saveButton" class="e-control e-btn e-primary" data-ripple="true" (click)="saveUser()">Save</button>
                <button  *ngIf="!IsNewUser" id="newButton" class="e-control e-btn e-primary" data-ripple="true" (click)="newUser()">New User</button>
                <ejs-switch *ngIf="!IsNewUser" id="IsActive" onLabel="ON" offLabel="OFF" [(ngModel)]="userData.IsActive" (change)="activeUser()"></ejs-switch>
                <!-- <button id="sendButton" class="e-control e-btn" data-ripple="true" (click)="clear()">Clear</button> -->
            </div>
            <div class="card-body" *ngIf="!IsNewUser">
                    
                <div class="form-group col-md-12">                   
                    <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': Password.invalid && (Password.dirty || Password.touched)}">                       
                        <input [(ngModel)]="userData.Password" id="Password" name="Password" type="text" #Password="ngModel">                        
                        <span class="e-float-line"></span>                        
                        <label class="e-float-text e-label-top" for="Password">Password</label>                   
                    </div>                    
                    <div id="Password-Error" *ngIf='Password.invalid && (Password.dirty || Password.touched)'>                        
                        <label class="e-error" id="Password-info" style="display: block;">*Password is required</label>                    
                    </div>               
                </div> 

            </div>
            <div class="card-footer" *ngIf="!IsNewUser">
                <button id="sendButton" class="e-control e-btn e-primary" data-ripple="true" (click)="generateRandomPass()">Generate Password</button>
                <button id="sendButton" class="e-control e-btn e-primary" data-ripple="true" (click)="resetPassword()">Reset Password</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- <div class="card" *ngIf="IsNewUser">
            <div class="card-header"><strong>Assign Apps</strong></div>
            <div class="card-body">
                
                <div class="form-row">
                           
                    <div class="form-group col-md-12">                   
                        <div class="e-float-input e-control-wrapper" [ngClass]="{'e-error': AppId.invalid && (AppId.dirty || AppId.touched)}" >                       
                            <ejs-dropdownlist [fields]='fields' [(ngModel)]="userData.AppId" name="AppId" [dataSource]='appsList' #AppId="ngModel" placeholder='AppId'  popupHeight='300px'  floatLabelType='Always'>
                            </ejs-dropdownlist> 
                        </div>                    
                        <div id="AppIdError" *ngIf='AppId.invalid && (AppId.dirty || AppId.touched)'>                        
                            <label class="e-error" id="AppId-info" style="display: block;">*AppId is required</label>                    
                        </div>               
                    </div>
                            
                </div> 

            </div>
        </div> -->
        <div class="card" *ngIf="!IsNewUser">
            <div class="card-header"><strong>Assign Roles</strong></div>
            <div class="card-body">
                <div class="e-float-input e-control-wrapper" *ngFor='let role of rolesList'>                        
                    <ejs-checkbox [label]="role.Role + ' '+ role.IsCustom" [name]="role.Role" cssClass="e-success"(change)="changeRole($event,role.Id)" [checked]="role.HasAccess"></ejs-checkbox>
                    <span class="e-float-line"></span>                                        
                </div> 
            </div>
        </div>
    </div>
    <div class="col-sm-4" *ngIf="!IsNewUser && hasCustom">
        <div class="card">
            <div class="card-header"><strong>Assign Routes</strong></div>
            <div class="card-body roleSize">
                <div class="card-group mb-4" *ngFor='let section of groupView'>
                    <div class="card" *ngFor='let group of section.Groups'>
                        <div class="card-body">
                            <div class="small text-uppercase font-weight-bold" style="color: #e3165b;">{{group.Group}}</div>
                            <div class="e-float-input e-control-wrapper" *ngFor='let route of group.Routes'>                        
                                <ejs-checkbox [label]="route.Route" [name]="route.Route" cssClass="e-success" [(ngModel)]="route.IsChecked" (change)="changeRoute($event,route.Id)" ></ejs-checkbox>
                                <span class="e-float-line"></span>                                        
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>