// Here you can add other styles
.main .container-fluid {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;

}
.breadcrumb{
    padding: 0.35rem 1rem;
}
.breadcrumb-fixed .main {
    padding-top: 2.3rem;
}