<ejs-grid #exceptionsGrid  [dataSource]='data'   [editSettings]='editSettings'   [allowSorting]="true"   [allowPaging]='true' [pageSettings]='pageSettings'  (created)='gridInitialize()' (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>
    <e-columns>
        <e-column field='Id' headerText='ID'  width='100' [isPrimaryKey]='true'></e-column>
        <e-column field='LogDate' headerText='Log Date' width='200' ></e-column>
        <e-column field='ExMessage' headerText='Message' width='200'></e-column>
        <e-column field='Exception' headerText='Description'  width='200'></e-column>
        <e-column field='Controller' headerText='Controller'  width='100'></e-column>
        <e-column field='Action' headerText='Action'  width='100'></e-column>
        <e-column field='User' headerText='User'  width='100'></e-column>
    </e-columns>
    
    <ng-template #editSettingsTemplate let-data style="height: 200px;">
        
                <h4><b>Message</b></h4>
                <p>{{exceptionData.ExMessage}}</p>
                <h4><b>Description</b></h4>
                <p style="width: 400px;">{{exceptionData.Exception}}</p>
                <h4><b>Controller</b></h4>
                <p>{{exceptionData.Controller}}</p>
                <h4><b>Action</b></h4>
                <p>{{exceptionData.Action}}</p>
                <h4><b>User</b></h4>
                <p>{{exceptionData.User}}</p>

    </ng-template>
</ejs-grid>

